* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.slider-container {
  width: 100%;
  height: 600px;
  position: relative;
}

.slider-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.slider-item {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.slider-img {
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.slider-btns {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
}
.slider-next-btn,
.slider-prev-btn {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.slider-next-btn > i,
.slider-prev-btn > i {
  font-weight: 100;
  font-size: 50px;
  color: white;
}
